{% load static  wagtailcore_tags  wagtailimages_tags %}
<!-- templates/includes/add_ons_section.html -->
<section class="py-12">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center">Add-Ons</h2>
      <div class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for add_on in page.add_ons %}
          <div class="bg-white shadow-lg rounded-lg p-6">
            {% image add_on.value.image_or_video original as add_on_image %}
            <img src="{{ add_on_image.url }}" alt="{{ add_on.value.title }}" class="w-full h-48 object-cover rounded-lg">
            <h3 class="text-xl font-semibold mt-4">{{ add_on.value.title }}</h3>
            <p class="mt-2 text-gray-600">{{ add_on.value.text }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>