{% load static  wagtailcore_tags  wagtailimages_tags %}
<!-- templates/includes/palace_language_section.html -->
<section class="py-12">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center">{{ page.palace_language_title }}</h2>
      <div class="mt-6">
        {% for feature in page.palace_language_features %}
          <div class="mb-8">
            <i class="{{ feature.value.icon }} text-4xl text-primary"></i>
            <h3 class="text-xl font-semibold mt-2">{{ feature.value.title }}</h3>
            <p class="mt-2 text-gray-600">{{ feature.value.text }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>